<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th> Username </th>
        <th> Email </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${people.empty}">
        <td colspan="2"> No users exists </td>
    </tr>
    <tr th:each="person : ${people}">
        <td><span th:text="${person.username}"> Username </span></td>
        <td><span th:text="${person.email}"> Email </span></td>
    </tr>
    </tbody>
</table>

</body>
</html>